.idea
__pycache__
midiexplorer.ini
/.cache/
/.coverage*
/.github/
/.pytest_cache/
/.run/
/build/
/dist/
/midiexplorer.build/
/midiexplorer.dist/
/midiexplorer.onefile-build/
/midiexplorer.cmd
/midiexplorer.exe
/RELEASE.md
/STYLE.md
/TODO.md
